*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

#logo{
    background-color: #000000;
    padding: 10px 0 10px 58px;
}

.container-fluid {
    margin: 0 60px;
    /* background-color: blueviolet; */
    width:90%;
}

.colwrap {
    padding: 177px 0;
}



/*column 1*/


.colOne {
    /* width: 60%; */
    margin-right: 183px;
}
.colOne h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 33px;
}

.colOne p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.container ul {
    list-style: none!important;
}

#divCountdown {
    width: 707px;
    background: #7800B0;
    padding-bottom: 43px;
    margin-top: 70px;
}

#divCd {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 117px;
}
#divCountdown h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-top: 22px;
}


/*column 2*/
.colTwo {
    width: 40%;
    background: #D2D2D2;
    color: #000000;
    padding-top: 58px;
}

.colTwo p, .colTwo h2 {
    width: 284px;
    padding-left: 32px;
}

.colTwo p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
}

.colTwo h2 {
    font-weight: 800;
}


form {
    padding: 0 auto;
    width: 404px;

}

.form-group {
    margin: 0 auto;
}

.form-control {
    margin-bottom: 40px;
    width: 100%;
}

.btn {
    background: #7800B0;
    color: white;
    font-weight: 800;
    border-radius: 0;
    width: 100%;
}
@media all and (max-width: 900px) { 
    
    .container{
        flex-direction: column;
    }
    
 }