*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    
}

#logo{
    background-color: #000000;
    width: 100%;
}

.logo {
     padding: 10px 0 10px 58px;
}

section.container {
    text-align: center;
    padding: 5% 0 10% 0;
    width: 100%;
    
}

.container p {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 704px;
    margin: 0 auto;
}
.container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    padding: 41px 0;

}

.redes {
    background: #7800B0;
    width: 358px;
    margin: 0 auto;
    margin-top: 26px;
}
.redes h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 9px;
}
li.socialIcon:first-child {
    padding-right: 40px;
}
.divsocialMedia {
    display: flex;
    justify-content: center;
}
li.socialIcon {
    list-style: none;
}
.redes ul {
    flex-direction: row;
    display: flex;
}

@media all and (max-width: 1055px) { 
    
    section.container {
        padding: 15% 5% 10% 5%;
        max-width: none;
    }
    .container p {
        font-size: 30px;
    }
    .container h1 {
        font-size: 50px;
    }
    .container p {
        width: auto;
    }
    .redes {
        width: auto;
    }
    
 }

 @media all and (max-width: 500px) { 

    img.gifThankyou {
        margin-top: 21px;
        width: 300px;
    }
    body {

        background: #000000;
    }

  
 }